.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.popup-box {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease;
}

.popup-close {
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.popup-close:hover {
  color: red;
}

.popup-btn {
  background: linear-gradient(to right, #007bff, #6610f2); /* Primary to secondary */
  color: white;
  padding: 6px 20px;
  border-radius: 50px;
  transition: transform 0.2s ease-in-out;
}

.popup-btn:hover {
  transform: scale(1.05);
}

.popup-input {
  border-radius: 50px;
  padding: 8px 15px;
}
